<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="searchInputForm" (ngSubmit)="getUserList()">
            <div class="row">
              <div class="form-group col-xl-4 col-md-6 col-sm-12">
                <label for="name">{{'USER.LABEL.NAME' | translate}}</label>
                <input class="form-control" id="name" type="text" name="name" formControlName="name" />
              </div>
              <div class="form-group col-xl-4 col-md-6 col-sm-12">
                <label for="email">{{'USER.LABEL.EMAIL' | translate}}</label>
                <input class="form-control" id="email" type="text" name="email" formControlName="email" />
              </div>
              <div class="form-group col-xl-4 col-md-12 col-sm-12">
                <label for="phone_number">{{'USER.LABEL.PHONE_NUMBER' | translate}}</label>
                <input class="form-control" id="phone_number" type="text" name="phone_number"
                  formControlName="phone_number" />
              </div>
            </div>
            <!--/.col-->
            <div class="row">
              <div class="col-xl-8 col-sm-6"></div>
              <div class="col-xl-4 col-sm-6">
                <div class="text-right">
                  <button type="submit" class="btn btn-pill btn-primary">
                    {{'COMMON.BUTTON.BTN_SEARCH' | translate}}</button>&nbsp;
                  <button type="button" class="btn btn-pill btn-warning"
                    (click)="clearSearchInputForm(); getUserList();">
                    {{'COMMON.BUTTON.BTN_CLEAR' | translate}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
              <div class="text-right">
                <!-- <button
                  type="button"
                  class="btn btn-pill btn-primary"
                  [routerLink]="['/base/forms']"
                >
                {{'USER.USER_MANAGE.BTN_ADD_USER' | translate}}
                </button> -->
                <button type="button" class="btn btn-pill btn-primary" data-toggle="modal"
                  [routerLink]="['/users-management/add']">
                  {{'COMMON.BUTTON.BTN_ADD' | translate}}
                </button>
              </div>
            </div>
          </div>

          <br />

          <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped text-center">
              <thead>
                <tr>
                  <th style="width: 50px; min-width: 50px;">{{'USER.USER_MANAGE.USER_TABLE.NO' | translate}}</th>
                  <th style="width: 150px; min-width: 100px;">{{'USER.USER_MANAGE.USER_TABLE.CONTACT_NAME' | translate}}</th>
                  <th style="width: 200px; min-width: 100px;">{{'USER.USER_MANAGE.USER_TABLE.EMAIL_ADDRESS' | translate}}</th>
                  <th style="width: 150px; min-width: 100px;">{{'USER.USER_MANAGE.USER_TABLE.COMPANY_NAME' | translate}}</th>
                  <th style="min-width: 150px;">{{'USER.USER_MANAGE.USER_TABLE.COUNTRY' | translate}}</th>
                  <th style="min-width: 200px;">{{'USER.USER_MANAGE.USER_TABLE.POSTAL_CODE' | translate}}</th>
                  <th style="width: 200px; min-width: 200px;"> {{'USER.USER_MANAGE.USER_TABLE.STREET_ADDRESS' | translate}}</th>
                  <th style="width: 200px; min-width: 100px;">{{'USER.USER_MANAGE.USER_TABLE.PHONE_NUMBER' | translate}}
                  </th>
                  <th style="width: 310px; min-width: 310px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users; let i = index">
                  <!-- <td>{{pageSize * (page - 1) + i + 1}}</td> -->
                  <td>{{ from + i }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.company }}</td>
                  <td>{{ user.country.country }}</td>
                  <td>{{ user.postal_code }}</td>
                  <td>{{ user.address }}</td>
                  <td>{{ user.phone_number }}</td>
                  <td>
                    <button type="button" class="btn btn-sm btn-pill btn-primary"
                      [routerLink]="['/users-management/detail']" [queryParams]="{user_id: user.id}">
                      {{'COMMON.BUTTON.BTN_DETAIL' | translate}}</button>&nbsp;
                    <button type="button" class="btn btn-sm btn-pill btn-success" data-toggle="modal"
                      [routerLink]="['/users-management/edit']" [queryParams]="{user_id: user.id}">
                      {{'COMMON.BUTTON.BTN_EDIT' | translate}}
                    </button>
                    <button type="button" class="btn btn-sm btn-pill btn-danger"
                      (click)="modalConfirmRemoveUser.show(); getUser(user);">
                      {{'COMMON.BUTTON.BTN_DELETE' | translate}}
                    </button>
                  </td>
                </tr>
                <tr *ngIf="!isSearching && !users.length">
                  <td colspan="9">{{'COMMON.TABLE.NO_DATA' | translate}}</td>
                </tr>
                <tr *ngIf="isSearching && !users.length">
                  <td colspan="9">{{'COMMON.TABLE.RESULT_NOT_FOUND' | translate}}</td>
                </tr>
              </tbody>
            </table>
            <div *ngIf="users.length">
              <ngb-pagination [collectionSize]="total" [(page)]="page" [rotate]="true" [pageSize]="pageSize"
                [maxSize]="5" (pageChange)="currentPage(page)">
                <ng-template ngbPaginationPrevious>{{'COMMON.BUTTON.BTN_PRE' | translate}}</ng-template>
                <ng-template ngbPaginationNext>{{'COMMON.BUTTON.BTN_NEXT' | translate}}</ng-template>
                <ng-template ngbPaginationEllipsis>...</ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div bsModal #modalConfirmRemoveUser="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="max-width: 500px !important;" class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="mx-4 mt-5 mb-4 text-center">
          <span class="modal-title">{{'USER.FORM.MESSAGE.CONFIRM.DELETE_USER' | translate}}</span>
          <div class="pt-4 d-flex justify-content-center">
            <button type="button" class="width-btn btn mr-2  btn-pill btn-danger" (click)="deleteUser()">
              {{'COMMON.BUTTON.BTN_DELETE' | translate}}
            </button>
            <button type="button" class="width-btn btn  btn-pill btn-light" (click)="modalConfirmRemoveUser.hide()">
              {{'COMMON.BUTTON.BTN_CANCEL' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-dialog></app-dialog>
<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>