<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="searchInputForm" (ngSubmit)="getOrderList()">
            <div class="row">
              <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <label for="order_number">{{'ORDER.ORDER_MANAGE.ORDER_TABLE.ORDER_NUMBER' | translate}}</label>
                <input
                  class="form-control"
                  id="order_number"
                  type="text"
                  name="order_number"
                  formControlName="order_number"
                />
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <label for="date">{{'ORDER.ORDER_MANAGE.ORDER_TABLE.ORDER_DATE' | translate}}</label>
                <div class="input-group">
                  <input placeholder="yyyy-mm-dd" #datepickerYMD="bsDatepicker" bsDatepicker autocomplete="off"
                         [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" id="input-normal" formControlName="date" class="form-control ngx-daterangepicker-action" />
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <label for="email">{{'ORDER.ORDER_MANAGE.ORDER_TABLE.EMAIL' | translate}}</label>
                <input
                  class="form-control"
                  id="email"
                  type="text"
                  name="email"
                  formControlName="email"
                />
              </div>
              <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <label for="phone_number">{{'ORDER.ORDER_MANAGE.ORDER_TABLE.PHONE_NUMBER' | translate}}</label>
                <input
                  class="form-control"
                  id="phone_number"
                  type="text"
                  name="phone_number"
                  formControlName="phone_number"
                />
              </div>
            </div>
            <!--/.col-->
            <div class="row">
              <div class="col-12">
                <div class="text-right">
                  <button type="submit" class="btn btn-pill btn-primary">
                    {{'COMMON.BUTTON.BTN_SEARCH' | translate}}</button>&nbsp;
                  <button type="button" class="btn btn-pill btn-warning" (click)="clearSearchInputForm(); getOrderList();">
                    {{'COMMON.BUTTON.BTN_CLEAR' | translate}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped text-center">
              <thead>
              <tr>
                <th style="width:50px; min-width: 50px;">{{'ORDER.ORDER_MANAGE.ORDER_TABLE.NO' | translate}}</th>
                <th style="width:150px; min-width: 100px;">{{'ORDER.ORDER_MANAGE.ORDER_TABLE.ORDER_NUMBER' | translate}}</th>
                <th style="width:150px; min-width: 100px;">{{'ORDER.ORDER_MANAGE.ORDER_TABLE.NAME' | translate}}</th>
                <th style="min-width: 200px;">{{'ORDER.ORDER_MANAGE.ORDER_TABLE.ADDRESS' | translate}}</th>
                <th style="width:150px; min-width: 100px;">{{'ORDER.ORDER_MANAGE.ORDER_TABLE.PHONE_NUMBER' | translate}}</th>
                <th style="width:150px; min-width: 100px;">{{'ORDER.ORDER_MANAGE.ORDER_TABLE.EMAIL' | translate}}</th>
                <th style="width:150px; min-width: 100px;">{{'ORDER.ORDER_MANAGE.ORDER_TABLE.ORDER_DATE' | translate}}</th>
                <th style="width:100px; min-width: 100px;"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let order of orders; let i = index">
                <td>{{from + i}}</td>
                <td>{{ order.order_number }}</td>
                <td>{{ order.user_payment_address.name }}</td>
                <td>{{ order.user_payment_address.address }}</td>
                <td>{{ order.user_payment_address.phone_number }}</td>
                <td>{{ order.user.email }}</td>
                <td>{{ order.createdAt.substring(0, 10) }}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-pill btn-primary"
                          [routerLink]="['/order-management/detail']"
                          [queryParams]="{order_id: order.id}">
                    {{'COMMON.BUTTON.BTN_DETAIL' | translate}}
                  </button>
                </td>
              </tr>
              <tr *ngIf="!isSearching && !orders?.length">
                <td colspan="8">{{'COMMON.TABLE.NO_DATA' | translate}}</td>
              </tr>
              <tr *ngIf="isSearching && !orders?.length">
                <td colspan="8">{{'COMMON.TABLE.RESULT_NOT_FOUND' | translate}}</td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="orders?.length" >
              <ngb-pagination [collectionSize]="total" [(page)]="page" [rotate]="true" [pageSize]="pageSize" [maxSize]="5"
                              (pageChange)="currentPage(page)">
                <ng-template ngbPaginationPrevious>{{'COMMON.BUTTON.BTN_PRE' | translate}}</ng-template>
                <ng-template ngbPaginationNext>{{'COMMON.BUTTON.BTN_NEXT' | translate}}</ng-template>
                <ng-template ngbPaginationEllipsis>...</ng-template>
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
<app-dialog></app-dialog>
<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
