.label-title {
  font-size: 15px;
  border-top: 1px solid #c8ced3;
  border-left: 1px solid #c8ced3;
  border-right: 1px solid #c8ced3;
  padding: 5px;
  margin: 0;
  border-radius: 5px 5px 0 0;
  width: auto;
  text-align: center;
  background-color: #2f353a;
  color: white;
}

.required-text {
  font-weight: 700;
  color: #f86c6b;
  font-size: 12px;
  margin-bottom: 0;
}

.asterisk {
  color: #f86c6b;
}

.error-message {
  height: 8px;
}
