<div class="animated fadeIn">
  <!-- SEARCH GROUP PART -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="form-group col-xl-4 col-md-6 col-sm-12">
            <label for="searchGroupPart">{{"PART.PART_ID" | translate}}</label>
            <input type="text" id="" class="form-control" #searchGroupPart
              (keyup.enter)="search(searchGroupPart.value)" />
          </div>
        </div>

        <div class="row">
          <div class="col-xl-8 col-sm-6"></div>
          <div class="col-xl-4 col-sm-12 co-xs-12">
            <div class="text-right">
              <button type="button" class="btn btn-pill btn-primary" (click)="search(searchGroupPart.value)">
                {{ "COMMON.BUTTON.BTN_SEARCH" | translate }}</button>&nbsp;
              <button type="button" class="btn btn-pill btn-warning" (click)="searchGroupPart.value = '';reloadData()">
                {{ "COMMON.BUTTON.BTN_CLEAR" | translate }}
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /SEARCH GROUP PART -->

  <!-- MANAGEMENT GROUP PART -->
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <!-- BTN ADD GROUP PART -->
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4">
            <div class="text-right">
              <button type="button" class="btn btn-pill btn-primary" data-toggle="modal"
                (click)="addGroupPartModal.show()">
                {{ "COMMON.BUTTON.BTN_ADD" | translate }}
              </button>
            </div>
          </div>
        </div>
        <br />
        <!-- /BTN ADD GROUP PART -->

        <!-- TABLE GROUP PARTS -->
        <div class="table-responsive">
          <table class="table table-hover table-bordered table-striped text-center">
            <thead>
              <tr>
                <th style="width: 50px; min-width: 50px;">
                  {{ "PART.PART_TABLE.NO" | translate }}
                </th>
                <th style="width: 200px; min-width: 100px;">
                  {{ "PART.PART_ID" | translate }}
                </th>
                <th style="min-width: 200px;">
                  {{ "PART.PART_NAME" | translate }}
                </th>
                <th style="min-width: 200px;">
                  {{ "PART.IMAGE" | translate }}
                </th>
                <th style="width: 250px; min-width: 250px;"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let groupPart of groupParts; let i = index">
                <td class="align-middle">{{ noPart + i}}</td>
                <td class="align-middle">{{ groupPart?.code_number }}</td>
                <td class="align-middle">{{ groupPart?.name }}</td>
                <td class="align-middle">
                  <img *ngIf="(groupPart?.image != null && groupPart?.image != '')" src="{{ groupPart?.image }}" width="150" height="150" alt="" style="object-fit: cover;" />
                </td>
                <td class="align-middle">
                  <button type="button" class="btn btn-sm btn-pill btn-success" data-toggle="modal"
                    (click)="editGroupPartsModal.show(); editGroupParts(groupPart)">
                    {{ "COMMON.BUTTON.BTN_EDIT" | translate }}</button>&nbsp;&nbsp;
                  <button type="button" class="btn btn-sm btn-pill btn-danger"
                    (click)="modalConfirmRemovePart.show(); idDeletePart(groupPart.id)">
                    {{ "COMMON.BUTTON.BTN_DELETE" | translate }}
                  </button>
                </td>
              </tr>
              <!-- <tr *ngIf="noData" style="background-color: white;">
                <td colspan="5">{{'PART.NO_DATA' | translate}}</td>
              </tr>
              <tr *ngIf="resultNoData" style="background-color: white;">
                <td colspan="5">{{'PART.RESULT_NOT_FOUND' | translate}}</td>
              </tr> -->
              <tr *ngIf="searchGroupPart?.value && !groupParts?.length">
                <td colspan="5">{{'COMMON.TABLE.RESULT_NOT_FOUND' | translate}}</td>
              </tr>
              <tr *ngIf="!searchGroupPart?.value && !groupParts?.length">
                <td colspan="5">{{'COMMON.TABLE.NO_DATA' | translate}}</td>
              </tr>
            </tbody>
          </table>

          <!-- PAGINATION -->
          <div *ngIf="groupParts.length" >
            <ngb-pagination [collectionSize]="total" [(page)]="page" [rotate]="true" [pageSize]="pageSize" [maxSize]="5"
              (pageChange)="currentPage(page)">
              <ng-template ngbPaginationPrevious>
                {{ "COMMON.BUTTON.BTN_PRE" | translate }}
              </ng-template>
              <ng-template ngbPaginationNext>
                {{ "COMMON.BUTTON.BTN_NEXT" | translate }}
              </ng-template>
              <ng-template ngbPaginationEllipsis>...</ng-template>
            </ngb-pagination>
          </div>
          <!-- /PAGINATION -->

        </div>
        <!-- /TABLE GROUP PARTS -->
      </div>
    </div>
  </div>
  <!-- /MANAGEMENT GROUP PART-->

  <!-- DIALOG ADD GROUP PART -->
  <div bsModal #addGroupPartModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    (onHide)="hideAddGroupPartModal()" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div style="max-width: 800px !important;" class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="mx-4 mt-5 mb-4">
          <form [formGroup]="addGroupPartForm" #formDir="ngForm">
            <div class="col-12">
              <h3 style="margin: -25px 0 20px 15px;">{{ "PART.FORM_PART.LABEL.TITLE_ADD" | translate }}</h3>
              <div class="form-group col-12">
                <label for="vat">{{ "PART.PART_ID" | translate }}<span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="groupPartCode" (input)="onChangeValue('partID')" InputFilterPartDirective pattern="^\d+$" required />

                <!-- VALIDATE FORM GROUP PART CODE -->
                <div [style.visibility]="isAddSubmitted ||
                (addGroupPartCode.invalid && addGroupPartCode.touched) ||
                addGroupPartCode.dirty ? 'visible' : 'hidden'" class="error-message">
                  <small *ngIf="addGroupPartCode.errors?.required" class="text-danger">
                    {{ "PART.FORM_PART.MESSAGE.FAIL.PART_ID.REQUIRE" | translate }}
                  </small>
                  <!-- <small *ngIf="addGroupPartCode.errors?.pattern && !addGroupPartCode.errors?.maxlength"
                    class="text-danger">
                    {{ "PART.FORM_PART.MESSAGE.FAIL.PART_ID.M2" | translate }}
                  </small> -->
                  <small *ngIf="addGroupPartCode.errors?.maxlength" class="text-danger">
                    {{ "PART.FORM_PART.MESSAGE.FAIL.PART_ID.MAX" | translate }}
                  </small>
                  <small *ngIf="duplicateID && !addGroupPartCode.errors?.maxlength" class="text-danger">
                    {{ "PART.FORM_PART.MESSAGE.FAIL.PART_ID.DUPLICATE" | translate }}
                  </small>
                  <!-- /VALIDATE FORM GROUP PART CODE -->
                </div>
              </div>

              <div class="form-group col-12">
                <label class="control-label">{{ "PART.PART_NAME" | translate }}<span
                    class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="groupPartName" />

                <!-- VALIDATE FORM PART NAME -->
                <div [style.visibility]="isAddSubmitted ||
                (addGroupPartName.invalid && addGroupPartName.touched) ||
                addGroupPartName.dirty ? 'visible' : 'hidden'" class="error-message">
                  <small *ngIf="addGroupPartName.errors?.required" class="text-danger">
                    {{ "PART.FORM_PART.MESSAGE.FAIL.PART_NAME.REQUIRE" | translate }}
                  </small>
                  <small *ngIf="addGroupPartName.errors?.maxlength" class="text-danger">
                    {{ "PART.FORM_PART.MESSAGE.FAIL.PART_NAME.MAX" | translate }}
                  </small>
                </div>
                <!-- /VALIDATE FORM GROUP PART NAME -->
              </div>

              <div class="form-group col-12">
                <label class="control-label">{{"PART.IMAGE"| translate}}</label>
                <div class="input-group">
                  <div class="custom-file">
                    <div class="custom-file">
                      <input #addGroupPartFile type="file" class="custom-file-input" multiple
                        formControlName="addGroupPartImage" accept=".png, .jpg" id="addGroupPartImage" (change)="
                            onFileAddChange($event.target.files);
                            previewAdd(addGroupPartFile.files)
                          " />
                      <label class="custom-file-label" #labelAddGroupPart for="addGroupPartImage">Choose
                        file</label>
                        <div [style.visibility]="isAddSubmitted ||
                        (addGroupPartImage.invalid && addGroupPartImage.touched) ||
                        addGroupPartImage.dirty ? 'visible' : 'hidden'" class="error-message">
                        <small *ngIf="addGroupPartImage.errors?.notSupportedFileType" class="text-danger">
                          {{ "PART.FORM_PART.MESSAGE.FAIL.PART_IMAGE.REQUIRE" | translate }}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group col-12 text-center">
                  <div class="container-image">
                    <img class="image-group-part" [src]="addGroupPartImgURL" *ngIf="addGroupPartImgURL" alt="" />
                    <br>
                    <small *ngIf="showDeleteBtnAddImage" class="text-danger btn-delete" style="cursor: pointer;" (click)="btnDeleteImage()">
                      <a>{{ "COMMON.BUTTON.BTN_REMOVE" | translate }}</a>
                    </small>
                  </div>
                </div>
              </div>

            </div>
            <div class="pt-4 d-flex justify-content-center">
              <button type="submit" class="btn mr-2 btn-pill btn-primary" (click)="uploadImagePart('add')">
                {{ "COMMON.BUTTON.BTN_ADD" | translate }}
              </button>
              <button type="button" class="btn btn-pill btn-light" (click)="addGroupPartModal.hide();">
                {{ "COMMON.BUTTON.BTN_CANCEL" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /DIALOG ADD GROUP PART -->

  <!-- DIALOG EDIT GROUP PART -->
  <div bsModal #editGroupPartsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    (onHide)="hideEditGroupPartModal()" aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="max-width: 800px !important;" class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="mx-4 mt-5 mb-4">
          <form [formGroup]="editGroupPartForm" #formDir="ngForm">
            <div class="row">
              <h3 style="margin: -25px 0 20px 15px;">{{ "PART.FORM_PART.LABEL.TITLE_EDIT" | translate }}</h3>
              <div class="form-group col-12">
                <label for="vat">{{ "PART.PART_ID" | translate }} <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="groupPartCode" (input)="onChangeValue('partID')" InputFilterPartDirective pattern="^\d+$"/>
                <!-- VALIDATE FORM PART CODE -->
                <div [style.visibility]="isEditSubmitted ||
                        (editGroupPartCode.invalid && editGroupPartCode.touched) ||
                        editGroupPartCode.dirty ? 'visible' : 'hidden'" class="error-message">
                  <small *ngIf="editGroupPartCode.errors?.required" class="text-danger">
                    {{ "PART.FORM_PART.MESSAGE.FAIL.PART_ID.REQUIRE" | translate }}
                  </small>
                  <!-- <small *ngIf="editGroupPartCode.errors?.pattern && !editGroupPartCode.errors?.maxlength"
                    class="text-danger">
                    {{ "PART.FORM_PART.MESSAGE.FAIL.PART_ID.M2" | translate }}
                  </small> -->
                  <small *ngIf="editGroupPartCode.errors?.maxlength" class="text-danger">
                    {{ "PART.FORM_PART.MESSAGE.FAIL.PART_ID.MAX" | translate }}
                  </small>
                  <small *ngIf="duplicateID && !editGroupPartCode.errors?.maxlength" class="text-danger">
                    {{ "PART.FORM_PART.MESSAGE.FAIL.PART_ID.DUPLICATE" | translate }}
                  </small>
                </div>
                <!-- /VALIDATE FORM GROUP PART CODE -->
              </div>

              <div class="form-group col-12">
                <label for="vat">{{ "PART.PART_NAME" | translate }} <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="groupPartName" />

                <!-- VALIDATE FORM GROUP PART NAME -->
                <div [style.visibility]="isEditSubmitted ||
                        (editGroupPartName.invalid && editGroupPartName.touched) ||
                        editGroupPartName.dirty ? 'visible' : 'hidden'" class="error-message">
                  <small *ngIf="editGroupPartName.errors?.required" class="text-danger">
                    {{ "PART.FORM_PART.MESSAGE.FAIL.PART_NAME.REQUIRE" | translate }}
                  </small>
                  <small *ngIf="editGroupPartName.errors?.maxlength" class="text-danger">
                    {{ "PART.FORM_PART.MESSAGE.FAIL.PART_NAME.MAX" | translate }}
                  </small>
                </div>
                <!-- /VALIDATE FORM GROUP PART NAME -->
              </div>

              <div class="form-group col-12">
                <label for="Image">{{"PART.IMAGE"| translate}}</label>
                <div class="input-group">
                  <div class="custom-file">
                    <div class="custom-file">
                      <input type="text" value="" formControlName="groupPartImage" style="display: none;" />
                      <input #editGroupPartFile type="file" class="custom-file-input" multiple
                        formControlName="editGroupPartImage" accept=".png, .jpg" id="editGroupPartImage" (change)="
                                onFileEditChange($event.target.files);
                                previewEdit(editGroupPartFile.files)
                              " />
                      <label class="custom-file-label" #labelEditGroupPart for="editGroupPartImage">Choose
                        file</label>
                        <div [style.visibility]="isEditSubmitted ||
                        (editGroupPartImage.invalid && editGroupPartImage.touched) ||
                        editGroupPartImage.dirty ? 'visible' : 'hidden'" class="error-message">
                        <small *ngIf="editGroupPartImage.errors?.notSupportedFileType" class="text-danger">
                          {{ "PART.FORM_PART.MESSAGE.FAIL.PART_IMAGE.REQUIRE" | translate }}
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div class="form-group col-12 text-center">
                  <div class="container-image">
                    <img class="image-group-part" [src]="editGroupPartImgURL" *ngIf="editGroupPartImgURL" alt="" />
                    <br>
                    <small *ngIf="showDeleteBtnEditImage" class="text-danger btn-delete" style="cursor: pointer;" (click)="btnDeleteImage()">
                      <a>{{ "COMMON.BUTTON.BTN_REMOVE" | translate }}</a>
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="pt-4 d-flex justify-content-center">
              <button type="submit" class="btn mr-2 btn-pill btn-success" (click)="uploadImagePart('edit')">
                {{ "COMMON.BUTTON.BTN_UPDATE" | translate }}
              </button>
              &nbsp;
              <button type="button" class="btn btn-pill btn-light" (click)="editGroupPartsModal.hide();">
                {{ "COMMON.BUTTON.BTN_CANCEL" | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /DIALOG EDIT GROUP PART -->

  <!-- DIALOG CONFIRM DELETE PART -->
  <div bsModal #modalConfirmRemovePart="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div style="max-width: 500px !important;" class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="mx-4 mt-5 mb-4 text-center">
          <span class="modal-title">{{ "PART.FORM_PART.CONFIRM.DELETE_PART" | translate }}</span>
          <div class="pt-4 d-flex justify-content-center">
            <button type="button" class="width-btn btn mr-2  btn-pill btn-danger"
              (click)="modalConfirmRemovePart.hide();deleteGroupPart()">
              {{ "COMMON.BUTTON.BTN_DELETE" | translate }}
            </button>
            <button type="button" class="width-btn btn btn-pill btn-light"
              (click)="modalConfirmRemovePart.hide();modalConfirmRemovePart.hide()">
              {{ "COMMON.BUTTON.BTN_CANCEL" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- /DIALOG CONFIRM DELETE PART -->
  </div>

</div>
<app-dialog></app-dialog>
<ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
